.busactcontainer{
    border: 1px solid #c0d6df;
    height: 415px;
    background-color: #c0d6df;
    text-align: center;

    h1{
        color: #253342;
        margin-top: 45px;
        margin-bottom: 45px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #circlecont{
        display: flex;
        justify-content: space-between;
        padding-left: 10vw;
        padding-right: 10vw;

        .circle{
            width: 225px;
            height: 225px;
            border-radius: 50%;
            background-color: #253342;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            filter: drop-shadow(1px 1px 11px #727272);
        }
    }
}

@media (min-width: 767px) and (max-width: 1250px){
    .busactcontainer{

        #circlecont{
            padding-left: 6vw;
            padding-right: 6vw;

            .circle{
                width: 18vw;
                height: 18vw;
            }
        }
    }
}

@media (min-width: 550px) and (max-width: 766px){
    .busactcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 550px;
        #circlecont{
            padding-left: 6vw;
            padding-right: 6vw;
            
            width: 450px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 400px;
            align-items: center;
            justify-items: center;
            .circle{
               width: 150px;
               height: 150px;
            }

        }
    }
}

@media (max-width: 549px){
    .busactcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 550px;
        #circlecont{
            padding-left: 2vw;
            padding-right: 2vw;
            
            width: 300px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 400px;
            align-items: center;
            justify-items: center;
            .circle{
               width: 140px;
               height: 140px;
            }

        }
    }
}