
.contactbannercont{
    height: 80px;
    width: 100vw;
    background-color: #5e4643;
    border: 1px solid #5e4643;
    display: flex;
    justify-content: center;
    align-items: center;
        .contacttext{
            opacity: 100% !important;
            color: white;
        }
    
    
}