
.quotecont{
    width: 250px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .line{
        height: 50px;
        width: 8px;
        background-color: #dd6e42; 
        margin-right: 10px;
    }

    .quote{
        font-weight: bold;
        font-style: italic;
    }
}