
.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #253342;
    padding-left: 90px;
    padding-right: 90px;
    
}

.headerLinks {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.headerLinks a{
    padding-left: 3.25rem;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}



.topnav img{
    width: 3.6rem;
    padding-top: 10px;
}


@media (min-width: 550px) and (max-width: 799px){
    .topnav{
        
        padding-left: 40px;
        padding-right: 40px;
    }
    .headerLinks li:first-child a{
        padding-left: 0px !important;
        margin-left: 0px !important;
    }
}

@media (max-width: 549px){
    .topnav{
       
        padding-left: 15px;
        padding-right: 15px;
    }

    .headerLinks{
        
        padding-left: 0px;
    }

    .headerLinks a{
        padding-left: 1.1rem;
        font-size: 1rem;
        color: white;
        text-decoration: none;
    }
    .headerLinks li:first-child a{
        padding-left: 0px !important;
        margin-left: 0px !important;
    }
}